<%= link_to collection_webhooks_path(collection_id: collection), class: "btn tooltip" do %>
  <% if collection.webhooks.any? %>
    <%= icon_tag "globe" %>
  <% else %>
    <%= icon_tag "world" %>
  <% end %>
  <span class="for-screen-reader">Webhooks for <%= collection.name %></span>
<% end %>
